@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  border-bottom-color: #ff003c;
}
